doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="File not found.")
    meta(property="og:title", content="Website name here")
    meta(property="og:site_name", content="Website name here")
    meta(property="og:url", content="https://DOMAIN")
    meta(property="og:description", content="Invalid file.")
    meta(property="og:type", content="website")
    meta(property="og:image", content="")